    #experinces .items {
        flex-direction: column;
        align-items: center;
    }
    
    #experinces .items .item {
        width: 90%;
    }
    
    .projects .project {
        flex-direction: column;
    }